<h1>Login Form</h1>

<form action="/login" method="POST">
    <input required type="text" name="username" placeholder="username">
    <input required type="password" name="password" placeholder="password">
    <button>Login</button>
</form>