<h1>Sign Up Form</h1>

<form action="/register" method="POST">
    <input required type="text" name="username" placeholder="username">
    <input required type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>